# Python
*.pyc
__pycache__/

# Django
db.sqlite3
/staticfiles/
/media/

# Virtual environment
.venv/


# Logs
*.log

# Mac OS / Thumbs
.DS_Store


# Environment variables
.env

# IDE / Editor
.vscode/
.idea/
