{% extends "base.html" %}
{% load static %}

{% block title %}
Help Center
{% endblock %}

{% block navbar %}
{% endblock %}

{% block mobile_footer %}
{% endblock %}

{% block content %}

<div class="chat-page">
  <div class="chat-header">
    <a href="javascript:history.back()" class="back-btn" style="color: #ffffff">
      <span class="material-symbols-outlined">arrow_back</span>

      <div class="chat-user">
        <strong>WaziTrade</strong>
        <small>Online</small>
      </div>
    </a>
  </div>

  <!-- CHAT AREA -->
  <div class="chat-body" id="chat-body">
    <div class="message support">
      <div class="bubble">
        👋 Welcome to WaziTrade Support.

        <br /><br />

        Ask us about:

        <br />• Orders <br />• Payments <br />• Delivery <br />• Returns <br />•
        Selling on WaziTrade
      </div>

      <span class="time">09:20</span>
    </div>

    {% for message in messages %} {% if message.sender == request.user %}

    <div class="message customer">
      <div class="bubble">{{ message.text }}</div>

      <span class="time"> {{ message.created_at|time:"H:i" }} </span>
    </div>

    {% else %}

    <div class="message support">
      {{ message.text }}

      <span class="time"> {{ message.created_at|time:"H:i" }} </span>
    </div>

    {% endif %} {% endfor %}
  </div>

  <!-- MESSAGE INPUT -->

  <form class="chat-input" method="POST" action="{% url 'chat:send_message' %}">
    {% csrf_token %}

    <input
      type="text"
      name="message"
      placeholder="Type your message..."
      required
    />

    <button type="submit">
      <span class="material-symbols-outlined"> send </span>
    </button>
  </form>
</div>
<script>
  const chatBody = document.getElementById("chat-body");

  chatBody.scrollTop = chatBody.scrollHeight;
</script>

{% endblock %}