{% extends 'base.html' %}

{% block content %}
<div class="contact-wrapper">
    <h2>Need Help ?</h2>
    <p class="intro-text">
        We’d love to hear from you! Send a message using the form below.
    </p>
    {% if messages %}
    {% for msg in messages %}
        <p class="success">{{ msg }}</p>
    {% endfor %}
{% endif %}

    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name" required>
        <input type="email" name="email" placeholder="Email" required>

        <label>Your Message</label>
        <textarea name="message" aria-placeholder="message" required></textarea>

        <button type="submit" class="contact-btn">Send Message</button>
    </form>

    <div class="contact-details">
        <h3>Contact Details</h3>
        <p>Email:<strong> omiramberodgers05@gmail.com</strong></p>
        <p>Phone:<strong> +256 762318421 / +256 791262558</strong></p>
        <p>Address:<strong> Kampala, Uganda</strong></p>
    </div>
</div>
{% endblock %}
