{% extends "base.html" %}

{% block title %}New Arrivals — WaziTrade{% endblock %}

{% block content %}
<h2 style="padding: 10px;font-size:18.74px; ">🆕 New Arrivals</h2>

<div class="product-grid">
    {% for p in products %}
        <div class="product-card">
            <a href="{% url 'core:product_detail' p.id %}" style="text-decoration: none; color: inherit;">
    {% if p.main_image %}
        <img src="{{ p.main_image.url }}" alt="{{ p.name }}">
    {% else %}
        <img src="/static/default-product.jpg" alt="No Image">
    {% endif %}

    <h3 style="font-size: 14px;color: #313133;text-align: left !important; margin:8px 0 4px;">{{ p.name }}</h3>

    {% if p.initial_price %}
        <p style="margin:0 0 4px;"><del>UGX {{ p.initial_price }}</del></p>
    {% endif %}

    <p class="price" style="font-size: 16px;color: #222222;text-align: left; margin:0;font-weight: 700;">UGX {{ p.base_price }}</p>
</a>


            <span class="badge-new">NEW</span>
        </div>
    {% endfor %}
</div>

<style>
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0px;
    padding-top: 4px;
}

.product-card {
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
    text-align: left;
    
}



.badge-new {
    background: #ff6600;
    color: white;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    position: absolute;
    top: 8px;
    right: 8px;
}
</style>
{% endblock %}
