{% extends "base.html" %}
{% load static %}

{% block title %}Seller Login{% endblock %}

{% block navbar %}{% endblock %}
{% block mobile_footer %}{% endblock %}

{% block content %}

<div class="seller-login-container">

    {% load static %}

<img
    src="{% static 'core/images/seller-login.jpg' %}"
    class="seller-login-illustration"
    alt="Seller"
>

    <h2>You are now a Seller</h2>

    <form method="POST" action="">
        {% csrf_token %}

        <input
            type="text"
            name="username"
            id="username"
            placeholder="Email or Username"
            required
        >

        <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            required
        >

        <button type="submit">
            Login
        </button>

    </form>

</div>

{% endblock %}

